
@{
    ViewData["Title"] = "Create / Edit";
}

@model ListaDeTarefasWebMVC.Models.Task

<div>
    <h1 class="display-4">Criar ou editar uma tarefa</h1>
</div>

<form asp-action="CreateEditTaskForm" asp-controller="Home">
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

    <label class="mt-4">Título</label>
    <input class="form-control" required type="text" placeholder="Título" asp-for="Title"/>

    <label class="mt-4">Descrição</label>
    <input class="form-control" required type="text" placeholder="Adicione uma descrição" asp-for="Description"/>

    <label class="mt-4">Completar tarefa</label> <br />
    <input type="checkbox" asp-for="IsCompleted" /> <br />

    <button class="btn btn-primary mt-4" type="submit">Salvar</button>
</form>
