@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Tasks" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditTask" class="btn btn-second">Create new</a>
</div>
