@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de tarefas</h1>
    <a asp-controller="Home" asp-action="Tasks" class="btn btn-primary">Visualizar</a>
    <a asp-controller="Home" asp-action="CreateEditTask" class="btn btn-outline-primary">Criar tarefa</a>
</div>
